<div #MapGL class="map clearfix">
</div>
<button class="btn btn-default" (click)="getLabelInfo()">connect</button>
<button class="btn btn-default" (click)="toggleRender()">Toggle Render</button>

<div class="toolbar">
  <re-panel [collapsable]="true">
    <re-panel-header>
      <strong>标签列表</strong>
    </re-panel-header>
    <re-panel-body>
      <app-label-list [labelList]="lastTimeLabelsInfo" (focusLabel)="focusLabel($event)"></app-label-list>
    </re-panel-body>
  </re-panel>
  <re-panel [collapsable]="true">
    <re-panel-header>
      <strong>定位器列表</strong>
    </re-panel-header>
    <re-panel-body>
      <app-reader-list [readerList]="readerList" (focusReader)="focusLabel($event)"></app-reader-list>
    </re-panel-body>
  </re-panel>
</div>


