:host {
  display: block;
}

.modal-backdrop {
  opacity: 0.5;
}

.modal {
  display: block;
  overflow-y: scroll;
  .modal-dialog {
    max-width: 700px;
  }
}

.modal-content{
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
